#p1{
    color: blue;
}

#p2{
    color: red;
}

#p3{
    color: green;
}

#p4{
    color: yellow;
}

#p5{
    color: brown;
}

#p6{
    color: pink;
}

#p7{
    color: pink;
}

#p8{
    color: aqua;
}

#p9{
    color: aqua;
}

.p10{
    color: purple;
}

