table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 3px solid rgb(0, 0, 255);
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgb(131, 131, 131);
}
