.parent {
    display: flex;
    justify-content: space-between;
    padding: 175px;
    gap: 20px;
    border: 5px solid #000000;
}

.child {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    border: 5px solid #000000;
}
